<a href="https://colab.research.google.com/github/labib2537/Data-Mining-and-ML/blob/main/regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train=pd.read_csv('/content/gdrive/MyDrive/Data Mining/status.csv')
train.head()

   age   status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0

In [5]:
train.isnull().sum()

age       0
status    1
dtype: int64

In [6]:
handle=train['status'].median()

In [7]:
handle

0.0

In [10]:
train.status=train.status.fillna(handle)

In [12]:
train.head()

   age   status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0

In [11]:
train['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [13]:
train.value_counts()

age   status
33    1.0       2
29    1.0       2
26    1.0       2
24    0.0       2
22    0.0       2
34    1.0       1
30    0.0       1
28    1.0       1
25    1.0       1
23    0.0       1
21    0.0       1
20    0.0       1
18    0.0       1
17    0.0       1
16    0.0       1
dtype: int64

In [15]:
d=train.iloc[:,:-1]

In [17]:
d.head(10)

   age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22

In [19]:
s=train['status']

In [20]:
s.head()

0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
Name: status, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
d_train,d_test,s_train,s_test=train_test_split(d,s,test_size=0.3,random_state=1)

In [23]:
d_test

    age
3     28
16    16
6     23
10    26
2     24
14    34

In [24]:
s_test

3     1.0
16    0.0
6     0.0
10    1.0
2     0.0
14    1.0
Name: status, dtype: float64

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr=LogisticRegression()

In [27]:
lr.fit(d_train,s_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [28]:
lr.predict(d_test)

array([1., 0., 0., 0., 0., 1.])

In [29]:
lr.predict([[26.5]])

array([1.])

In [30]:
lr.score(d_test,s_test)

0.8333333333333334

In [32]:
lr.predict_proba(d_test)

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
l=LinearRegression()

In [35]:
l.fit(d_train,s_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
l.score(d_test,s_test)

0.5771565786325421